# See https://circleci.com/docs/2.0/reusing-config/
version: 2.1

executors:
  python-docker:
    parameters:
      version:
        description: "Python version"
        default: "3.9"
        type: string
    docker:
      - image: ghcr.io/astral-sh/uv:python<<parameters.version>>-bookworm-slim
    resource_class: small

jobs:
  test:
    parameters:
      version:
        description: "Python version"
        default: "3.9"
        type: string
    executor:
      name: python-docker
      version: <<parameters.version>>
    steps:
      - checkout
      - restore_cache:
          keys:
            - uv-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}
      - run:
          name: Run tests
          command: ./ci
      - save_cache:
          key: uv-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}
          paths:
            - ~/.cache/uv

workflows:
  matrix-tests:
    jobs:
      - test:
          matrix:
            parameters:
              version:
                - "3.8"
                - "3.9"
                - "3.10"
                - "3.11"
                - "3.12"
                - "3.13"
